<div class='post-body'>
  <% if can?(:manage, post) || current_user.role == 'admin' %>
    <%= button_to 'Delete', "/posts/#{post.id}/delete" %>
  <% end %>
  <div class='post-header'>
    <h2><%= "#{post.title} by #{post.author.name}" %></h2>
  </div>
  <p class='post-text'>
    <% if short && post.text.split(' ').length > 15 %>
      <%= post.text.split(' ').slice(0,15).join(' ') %>...
    <% else %>
      <%= post.text %>
    <% end %>
  </p>
  <p class='post-counters'>
    <%= "Comments: #{post[:comments_counter]}" %><br>
    <%= "Likes: #{post[:likes_counter]}" %>
  </p>
</div>